<!doctype html>
<html lang="en">
    <body>
        <em>Digikey Component Search </em><br /><br />
	    <a href="https://sso.digikey.com/as/authorization.oauth2?response_type=code&client_id=8696d448-db79-46b4-98d9-b3b89482d860&redirect_uri=https://localhost:8080/oauth/redirect">
            login with digikey
        </a>
    </body>
<html>
