<!doctype html>
<html lang="en">
<style type="text/css">
	.search{
		margin: auto;
		padding: 2em;
		width: 60%;
		background-color: #4BB061;
		color: #ffffff;
	}
</style>
	<body>
		<div class="search">
			<h3>newark component search!</h3>
			<form action="/search" method="post">
				<input name="part" type="text" rows="4" cols="50" placeholder="Enter a Part Number" required>
				<input type="submit" value="Get Part">
			</form>
		</div>
    </body>
<html>
